.click{
    background-color: #ec5b53;
    height: 80px;
    width: 180px;
    border-radius: 10px;
    color: #eee;
    font-size: 20px;
}
.img{
    position: absolute;
    top: 30px;
    margin-left:450px; 
    width: 400px;
    height: 550px;
}
.font50{
    font-size: 50px;
}
.font18{
    font-size: 18px;
}
.about{
    text-align: center;
    font-size: 45px;
    margin-top: 200px;
    position: relative;
    padding-left: 0px;

}
.about2{
    text-align: center;
    font-size: 45px;
    margin-top: 80px;
    position: relative;
    padding-left: 0px;

}
.h3{
    font-size: 25px; 
    opacity: 80%;
    margin-bottom: 100px; 
}
.navbar{ 
    width: 100%;   
}
.block1{
    width: 400px;
    height: 600px;
    margin-left: 100px;
    margin-top: 10px;
}
.block2{
    width: 250px;
    height: 600px;
    margin-top: -500px;
    margin-left: 600px;
    font-size: 20px
}
.color{
    color: #002D5B;
}
.img2{
    margin-left: 970px;
    margin-top: -680px;
    /* padding-right: 100px; */
    padding-top: 10px;
    top: 980px;
    /* padding-left: 650px;  */
    border-radius: 10px; 
}
.margin{
    margin-top: -100px;
}  
.section1{
    width: 300px;
    height: 400px;
    background-color: rgb(248, 223, 227);
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    margin-left: 150px;
    
}
.section2{
    width: 300px;
    height: 400px;
    background-color: rgb(248, 223, 227);
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    margin-left: 620px;
    margin-top: -400px;  
}
.section3{
    width: 300px;
    height: 400px;
    background-color: rgb(248, 223, 227);
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    margin-left: 1080px;
    margin-top: -400px;
}
.fontsize{
    font-size: 20px;
}
.wsection1{
    width: 600px;
    height: 300px;
    background-color: rgb(248, 223, 227);
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    margin-left: 100px;
}
.wsection2{
    width: 600px;
    height: 300px;
    background-color: rgb(248, 223, 227);
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    margin-left: 850px;
    margin-top: -300px;
}
.margin1{
    margin-left: 200px;
} 
.imgc{
    border-radius: 100%;
    border: 3px solid #ec5b53;
    width: 70px;
    text-align: center;
}
input[type="email"]{
    width: 500px;
    height: 50px;
    border-width: 3px;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(188, 183, 183);
    }
.footer-bottom{
    color: aliceblue;
    background-color: rgb(8, 2, 43);
    padding: 1rem;
    text-align: center;
}
.h3footer{
    font-size: 22px;
}
.logo{
   text-align: center;
    padding-top: 35px;
    
}
.footer{
    flex-basis: 25%;
}
.footercontainer{
    color: aliceblue;
    background-color: #002D5B !important;
    /* max-width: 2000px; */
    height: 200px;
    text-align: center;
    padding: 0 3rem;
    margin-top: 50px;
}
@media only screen and (max-width:540px){
    .navbar{ 
         width: 100%;   
    }
    .margin2{
        margin-left: 0px;
        width: 50px;
        margin-top: -20px;
    } 
    .margin1{
        margin-left: 9px;
    } 
    .margin{
        margin-top: 80px;
    }
    .img{
        margin-left:85px; 
        width: 150px;
        height: 250px;  
        top: 40px;
        position: absolute;
    } 
    .font50{
        font-size: 40px;
    }
    .font18{
        font-size: 15px;
    }
    .about{
        /* text-align: center; */
        font-size: 45px;
        margin-top: 50px;
        
    }
    .h3{
        font-size: 25px; 
        opacity: 80%;
    }
    .block1{
        width: 280px;
        height: 600px;
        margin-left: 10px;
        /* margin-top: 10px; */
        /* text-align: center;
        justify-content: center; */
    }
    .block2{
        width: 280px;
        height: 300px;
        margin-left: 10px;
        margin-top: 80px;
        font-size: 20px;
        justify-content: center;

    }
    .img2{
        margin-left:0px;
        margin-top: 0px;
        /* padding-right: 100px; */
        padding-top: 10px;
        top: 980px;
        /* padding-left: 650px;  */
        border-radius: 10px;  
    }  
    .section1{
        width: 300px;
        height: 400px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
       
    .section2{
        width: 300px;
        height: 400px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 10px;
        margin-top: 10px;  
    }
    .section3{
        width: 300px;
        height: 400px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .wsection1{
        width: 300px;
        height: 400px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 10px;
    }
    .wsection2{
        width: 300px;
        height: 400px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .imgp1{
        width: 320px;
        height: 200px;
        margin-bottom: 10px;
    }
    .imgp2{
        width: 320px;
        height: 200px;
        margin-bottom: 10px;
    }
    .imgp3{
        width: 320px;
        height: 200px;
    }
    .about{
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        position: relative;
        /* padding-left: 50px; */
    
    }
    .about2{
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        position: relative;
        /* padding-left: 50px; */
    
    }
    .h3{
        font-size: 20px; 
        opacity: 80%;
        margin-bottom: 50px; 
    }
    input[type="email"]{
        width: 200px;
        height: 50px;
        border-width: 3px;
        font-size: 20px;
        border-radius: 5px;
        border-color: rgb(188, 183, 183);
        }
        .footer-bottom{
            color: aliceblue;
            background-color: rgb(8, 2, 43);
            padding: 1rem;
            text-align: center;
            font-size: 15px;
           
        }
        .h3footer{
            font-size: 18px;
        }
        .logo{
           text-align: center;
            padding-top: 0px;
        }
        .footer{
            flex-basis: 25%;
        }
        .footercontainer{
            color: aliceblue;
            background-color: #002D5B !important;
            /* max-width: 2000px; */
            height: 100px;
            text-align: center;
            padding: 0 3rem;
            margin-top: 50px;
        }
}
@media only screen and (width:1024px){
    .navbar{ 
        width: 100%;   
   }
    .margin1{
        margin-left: 100px;
    }
    .img{
        position: absolute;
        top: 50px;
        margin-left:250px; 
        width: 400px;
        height: 500px;  
    } 
    .font50{
        font-size: 50px;
    }
    .font18{
        font-size: 18px;
    }
    .block1{
        width: 350px;
        height: 600px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .block2{
        width: 200px;
        height: 600px;
        margin-top: -500px;
        margin-left: 390px;
        font-size: 20px
    }
    .img2{
        margin-left:650px;
        margin-top: -680px;
        /* padding-right: 100px; */
        padding-top: 10px;
        top: 980px;
        /* padding-left: 650px;  */
        border-radius: 10px;  
    }
    .section1{
        width: 300px;
        height: 400px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 30px;
        
    }
    .section2{
        width: 300px;
        height: 400px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left:367px;
        margin-top: -400px;  
    }
    .section3{
        width: 300px;
        height: 400px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 705px;
        margin-top: -400px;
    }
    .wsection1{
        width: 600px;
        height: 300px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 230px;
    }
    .wsection2{
        width: 600px;
        height: 300px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-top: 50px;
        margin-left: 230px;
    }
    .imgp3{
        margin-top: 10px;
        margin-left: 250px;
    }
    .imgp2{
        margin-left: 10px;
    }
}
@media only screen and (width:768px){
    .navbar{ 
        width: 100%;   
   }
   .margin1{
    margin-left: 50px;
}
    .img{
        position: absolute;
        top: 60px;
        margin-left:250px; 
        width: 250px;
        height: 380px;  
    } 
    .font50{
        font-size: 50px;
    }
    .font18{
        font-size: 18px;
    }
    .block1{
        width: 300px;
        height: 600px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .block2{
        width: 200px;
        height: 600px;
        margin-top: -500px;
        margin-left: 450px;
        font-size: 20px
    }
    .img2{
        margin-left: 380px;
        margin-top: -200px;
        /* padding-right: 100px; */
        padding-top: 10px;
        /* padding-left: 650px;  */
        border-radius: 10px;  
    }
    .section1{
        width: 250px;
        height: 450px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 0px;
        
    }
    .section2{
        width: 250px;
        height: 450px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 260px;
        margin-top: -450px;  
    }
    .section3{
        width: 250px;
        height: 450px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 520px;
        margin-top: -450px;
    }
    .wsection1{
        width: 600px;
        height: 300px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 100px;
    }
    .wsection2{
        width: 600px;
        height: 300px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-top: 50px;
        margin-left: 100px;
    }
    .imgp1{
        margin-left: 150px;
        margin-bottom: 10px;
    }
    .imgp2{
        margin-left: 150px;
        margin-bottom: 10px;
    }
    .imgp3{
        margin-left: 150px;
    }
}
@media only screen and (width:2560px){
    .navbar{
        padding-right: 835px;
        margin-bottom: 200px;
        height: 80px;
    }
    .img{
        position: absolute;
        top: 50px;
        width: 600px;
        height: 800px;
        margin-left:800px;  
    }
    .font50{
        font-size: 90px;
        margin-left: -200px;
    }
    .font18{
        font-size: 30px;
        margin-left: -200px;
    } 
    .click{
        background-color: #ec5b53;
        height: 130px;
        width: 380px;
        border-radius: 10px;
        color: #eee;
        font-size: 40px;
        /* margin-left: -200px !important; */

    }
    .block1{
        width: 500px;
        height: 600px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .block2{
        width: 400px;
        height: 600px;
        margin-left: 80px;
        margin-top: -500px;
        margin-left: 650px;
        font-size: 20px
    }
    .color{
        color: #002D5B;
    }
    .img2{
        margin-left: 1200px;
        margin-top: -680px;
        /* padding-right: 100px; */
        padding-top: 10px;
        top: 980px;
        /* padding-left: 650px;  */
        border-radius: 10px;  
    }
    .section1{
        width: 450px;
        height: 550px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 350px;
        font-size: 30px;
        
    }
    .section2{
        width: 450px;
        height: 550px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 1080px;
        margin-top: -550px; 
        font-size: 30px;
 
    }
    .section3{
        width: 450px;
        height: 550px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 1780px;
        margin-top: -550px;
        font-size: 30px;

    }
    .margin1{
        margin-left: 600px;
    }
    .wsection1{
        width: 600px;
        height: 300px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 590px;
    }
    .wsection2{
        width: 600px;
        height: 300px;
        background-color: rgb(248, 223, 227);
        border-radius: 10px;
        padding: 10px 10px 10px 20px;
        margin-left: 1300px;
        margin-top: -300px;
    }
    .imgp1{
        width: 850px;
        height: 500px;
    }
    .imgp2{
        width: 850px;
        height: 500px;
    }
    .imgp3{
        width: 850px;
        height: 500px;
    }
   
        
}
@media only screen and (width:1440px){
    .margin1{
        margin-left: 200px;
    } 
    .imgp1{
        width: 477px;
        height: 250px;
    }
    .imgp2{
        width: 477px;
        height: 250px;
    }
    .imgp3{
        width: 477px;
        height: 250px;
    }
}