.color{
    color: #002D5B;
}
.font50{
    font-size: 50px;
}
.about{
    text-align: center;
    font-size: 45px;
    margin-top: 200px;
    position: relative;
    padding-left: 0px;

}
.h3{
    font-size: 25px; 
    opacity: 80%;
    margin-bottom: 100px; 
}
.img1{
    width: 800px;
    border-radius: 10px;
}
.img2{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -200px;
}
.img3{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-left: 855px;
    margin-top: -180px;
}
.img4{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 50px;
}
.img5{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 50px;
}
.img6{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-left: 23px;
    margin-top: 50px;
}
.img7{
    width: 800px;
    border-radius: 10px;
    margin-top: 50px;
}
.img8{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -115px;
}
.img9{
    width: 400px;
    height: 230px;
    border-radius: 10px;
    margin-left: 855px;
    margin-top: -130px;
}
.footer-bottom{
    color: aliceblue;
    background-color: rgb(8, 2, 43);
    padding: 1rem;
    text-align: center;
}
.h3footer{
    font-size: 22px;
}
.logo{
   text-align: center;
    padding-top: 35px;
}
.footer{
    flex-basis: 25%;
}
.footercontainer{
    color: aliceblue;
    background-color: #002D5B !important;
    /* max-width: 2000px; */
    height: 200px;
    text-align: center;
    padding: 0 3rem;
    margin-top: 50px;
}
@media only screen and (max-width:540px){
    .about{
        text-align: center;
        font-size: 30px;
        margin-top: 200px;
        position: relative;
        padding-left: 0px;
    
    }
    .img1{
        width: 300px;
        border-radius: 10px;
        margin-top: -50px;
    }
    .img2{
        width: 130px;
        height: 80px;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .img3{
        width: 130px;
        height: 80px;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .img4{
        width: 130px;
        height: 80px;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .img5{
        width: 130px;
        height: 80px;
        border-radius: 10px;
        margin-left: 155px;
        margin-top: -110px;
    }
    .img6{
        width: 130px;
        height: 80px;
        border-radius: 10px;
        margin-left: 80px;
        margin-top: -10px;
    }
    .img7{
        width: 300px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .img8{
        width: 130px;
        height: 80px;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .img9{
        width: 130px;
        height: 80px;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .footer-bottom{
        color: aliceblue;
        background-color: rgb(8, 2, 43);
        padding: 1rem;
        text-align: center;
        font-size: 15px;
       
    }
    .h3footer{
        font-size: 18px;
    }
    .logo{
       text-align: center;
        padding-top: 0px;
    }
    .footer{
        flex-basis: 25%;
    }
    .footercontainer{
        color: aliceblue;
        background-color: #002D5B !important;
        /* max-width: 2000px; */
        height: 100px;
        text-align: center;
        padding: 0 3rem;
        margin-top: 50px;
    }
}
@media only screen and (width:768px){
    .img1{
        width: 500px;
        border-radius: 10px;
    }
    .img2{
        width: 200px;
        height: 120px;
        border-radius: 10px;
        margin-left: 525px;
        margin-top: -480px;
    }
    .img3{
        width: 200px;
        height: 120px;
        border-radius: 10px;
        margin-left: 525px;
        margin-top: -240px;
    }
    .img4{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 50px;
}
.img5{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 50px;
}
.img6{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 50px;
}
.img7{
    width: 500px;
    border-radius: 10px;
}
.img8{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    margin-left: 525px;
    margin-top: -430px;
}
.img9{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    margin-left: 525px;
    margin-top: -200px;
}
}
@media only screen and (width:1024px){
    .img1{
        width: 650px;
        border-radius: 10px;
    }
    .img2{
        width: 300px;
        height: 180px;
        border-radius: 10px;
        margin-left: 670px;
        margin-top: -590px;
    }
    .img3{
        width: 300px;
        height: 180px;
        border-radius: 10px;
        margin-left: 670px;
        margin-top: -240px;
    }
    .img4{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 50px;
}
.img5{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 50px;
}
.img6{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin-left: 650px;
    margin-top: -210px;
}
.img7{
    width: 650px;
    border-radius: 10px;
}
.img8{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin-left: 670px;
    margin-top: -520px;
}
.img9{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin-left: 670px;
    margin-top: -180px;
}
}
@media only screen and (width:2560px){
    .img1{
        width: 1350px;
        border-radius: 10px;
        margin-left: -500px;
    }
    .img2{
        width: 800px;
        height: 400px;
        border-radius: 10px;
        margin-left: 970px;
        margin-top: -1170px;
    }
    .img3{
        width: 800px;
        height: 400px;
        border-radius: 10px;
        margin-left: 970px;
        margin-top: -340px;
    }
    .img4{
    width: 800px;
    height: 400px;
    border-radius: 10px;
    margin-left: -600px;
    margin-top: 100px;
}
.img5{
    width: 800px;
    height: 400px;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 100px;
}
.img6{
    width: 800px;
    height: 400px;
    border-radius: 10px;
    margin-left: 1070px;
    margin-top: -428px;
}
.img7{
    width: 1350px;
    border-radius: 10px;
    margin-left: -500px;
}
.img8{
    width: 800px;
    height: 400px;
    border-radius: 10px;
    margin-left: 970px;
    margin-top: -1030px;
}
.img9{
    width: 800px;
    height: 400px;
    border-radius: 10px;
    margin-left: 970px;
    margin-top: -280px;
}
}